:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: outfit, sans-serif;
  color: var(--stone-600);
  width: 100%;
  line-height: 150%;
}

main {
  background-color: var(--stone-100);
  padding: 8rem;
}

article {
  margin: 0 auto;
  width: 62%;
  background-color: var(--white);
  padding: 2.5rem;
  border-radius: 1.5rem;
}

section {
  margin: 2rem 0;
}

img {
  width: 100%;
  border-radius: 0.75rem;
}

/* h1,
h2 {
  font-family: "young serif", serif;
} */

h1 {
  color: var(--stone-900);
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 1.5rem;
}

hr {
  color: var(--stone-150);
  opacity: 0.4;
}

/* .bottom-line {
  border: 2px solid var(--stone-150);
} */

/* general list  */

ul,
ol {
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

li {
  padding-left: 1.5rem;
}

ol li::marker {
  font-weight: bold;
}

.list-item-bold,
.nutrition-item-bold {
  font-weight: 700;
}

.preparation {
  padding: 1rem;
  background-color: var(--rose-50);
  border-radius: 1.5rem;
}

.preparation h2 {
  font-family: outfit, sans-serif;
  color: var(--rose-800);
}

/* .preparation ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
} */

.preparation ul {
  padding-left: 1.5rem;
}

.preparation li::marker {
  color: var(--rose-800);
}

/* nutrition section */

.nutrition p {
  margin-bottom: 1.5rem;
}

.nutrition tr {
  border: 1px solid black;
  text-align: left;
}

.nutrition td {
  color: var(--brown-800);
}

.nutrition th {
  font-weight: 400;
}

/* nutrition */

.nutrition-value-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.nutrition-value-item {
  display: flex;
  justify-content: flex-start;
}

.nutrition-value-item span {
  flex-basis: 100%;
}

/* text presets */

.text-preset-1 {
  font-size: 40px;
  font-family: "young serif", serif;
  line-height: 100%;
  font-weight: 400;
}

.text-preset-2 {
  font-size: 28px;
  font-family: "young serif", serif;
  line-height: 100%;
  font-weight: 400;
}

.text-preset-3 {
  font-size: 20px;
  font-family: "outfit", sans-serif;
  font-weight: 600;
}

.text-preset-4 {
  font-size: 16px;
  font-family: "outfit", sans-serif;
  line-height: 150%;
  font-weight: 400;
}

.text-preset-4-bold {
  font-size: 16px;
  font-family: "outfit", sans-serif;
  line-height: 150%;
  font-weight: 700;
}
